<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>
    <article>
      <h2>Something Went Wrong</h2>
      <p><code><%= status %></code>
        <%= message %>
      </p>
    </article>
    <aside>
      <h3>right bar</h3>
    </aside>


    <%- include('../partials/footer') %>